h2 {
  font-size: 40px;
  background: linear-gradient(to left, #660066 0%, #ff3300 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (max-width: 770px) {
  .table-style {
    flex-direction: column;
    width: auto;
  }
}

@media only screen and (max-width: 770px) {
  .text-contact {
    display: none;
  }
}